
/* Welcome.css */
.title {
  font-size: 70px;
  color: #333;
  text-align: center;
  /* Add other styles as needed */
}

.subtitle {
  font-size: 30px;
  color: #333;
  text-align: center;
  /* Add other styles as needed */
}

.text{
  font-size: 20px;
  color: #333;
  text-align: center;
  width: 50%;
  align-items: center;
  margin-left: 25%;
  /* Add other styles as needed */
}

