.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    margin-top: -50px;
  }
  
  .big-circle {
    width: 380px;
    height: 380px;
    border-radius: 50%;
    background-color: #34495E ;
    position: absolute;
    z-index: 1;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .small-circle {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-color: #22303E ;
    z-index: 2;
    transition: box-shadow 0.3s ease;
  }
  .small-circle:hover {
    box-shadow: 0px 0px 8px rgba(7, 88, 194, 0.5);
  }

.small-circle h3{
  font-size: 4rem;
  transition: font-size 0.3s ease;
}
.small-circle h3:hover{
  font-size: 4.5rem;
  
}

  .mt-custom{
    margin-top: 5.5rem;
  }

  .display-custom{
    font-size: 5.2rem;
  }
  