.containerSelect{
    display: flex;
    color: #1f354b;
}
.line{
    width: 50%;
    margin: auto;
}
.Text{
    flex:1;
    padding:20px;
}
.Text__title{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    margin: 70px;
    margin-bottom: 30px;
}

.Text__text{
    width: 50%;
    font-size: 20px;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 30px;
}

.Text__tips{
    font-size: 28px;
    text-align: center;
    margin: 3%;
    font-weight: bold;
    margin-bottom: 80px;

}

.Image{
    display : flex;
    flex:1;
    padding-bottom: 15px;
    text-align: center;
    border:3px solid #34495E;
    border-radius: 15px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.VerticalLine {
    display: flex;
    padding-top: 330px;
    border:solid 1px #34495E;
    border-radius: 40px;
    position: absolute;
    right:350px;
    top: 150px;
    height: 50px;
  }

.Image__Food--img{
    margin-top: 50px;
    width: 265px;
    height: 265px;
    border-radius: 15px;
    margin-bottom: 30px;
}


.OpcPlatillo{
    background-color: #34495E;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 15px;
    cursor: pointer;
}
