@import '@fontsource/roboto';

body {
  font-family: 'Roboto', sans-serif;
}

.form {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #E4E7EB;
  border-radius: 50px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.form h3 {
  text-align: center;
  color: #34495e;
}

.form p {
  text-align: center;
  color: #7f8c8d;
}

.form form {
  display: flex;
  flex-wrap: wrap;
}

.col-md-12 {
  width: 100%;
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 20px;
  font-size: 15px;
  color: #000;
  transition: border-color 0.3s ease;
}

.form-control:hover,
.form-control:focus {
  border-color: #6c757d;
}

.form-check-input {
  margin-right: 5px;
}

.form-button {
    margin-top: 20px;
    margin: auto;
}

.btn-register {
  background-color: #34495e;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-register:hover,
.btn-register:focus,
.btn-register:active {
  background-color: #2c3e50;
}

.alert {
  margin-top: 15px;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
}

.alert-success {
  background-color: #2ecc71;
  color: #fff;
}

.alert-danger {
  background-color: #e74c3c;
  color: #fff;
}
