@import '@fontsource/roboto';

body {
    margin: 0;
}

.nutrientes {
    top: 105px;
    left: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #22303E;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.posicion-carbo, .posicion-grasa, .posicion-prote,
.macro-1, .macro-2, .macro-3, .rankingBottom,
.line1, .grasasCounter, .line2, .proteCounter,
.line3, .carboCounter, .line4, .kcalMant, .kcalManteniblesCounter  {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #22303E;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.posicion-carbo {
    top: 130px;
    left: 45px;
}

.posicion-grasa {
    top: 270px;
    left: 45px;
}

.posicion-prote {
    top: 405px;
    left: 40px;

}

.macro-1 {
    top: 235px;
    left: 37px;
}

.macro-2 {
    top: 377px;
    left: 65px;
}

.macro-3 {
    top: 520px;
    left: 60px;
}

.kcalMant{
    top: 52px;
    margin-left: 20px;
}


.rankingBottom {
    top: 105px;
    right: 75px;
}

.line1, .line2, .line3 {
    width: 30px;
    border: 1px solid #22303E;
    border-radius: 100px;
    position: relative;
}
.line4{
    width: 80px;
    border: 2px solid #34495E;
    border-radius: 100px;
    position: absolute;
    left: 850px ;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
}

.line5{
    position: relative;
    border: 0.5px solid #16A085;
    top: 15px;
    width: 250px;
    left: 100px;
}
.grasasCounter{
    top: 190px;
} 
.line1{
    top: 208px;
}
.proteCounter{
    top: 288px;
}
.line2 {
    top: 305px;
}

.line3 {
    top: 113px;
}
.line4{
    top: 290px;
}

.carboCounter{
    top: 95px;
}
.kcalMant{
    position: absolute  ;
    left: 920px;
    color: #22303E;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    top: 320px;
}
.kcalManteniblesCounter{
    position: absolute  ;
    left: 960px;
    color: #22303E;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: bold;
    top: 268px;
}
.grasasCounter, .proteCounter, .carboCounter {
    position: relative;
    color: #22303E;
    left: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.contenedorAdvertencia{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
}
.advertencia{
    display: flex;
    margin-top: 180px;
    margin-left: 375px;
    background-color: #E4E7EB;
    height: 270px;
    width: 620px;
    border-radius: 50px;
    border: solid #16A085 1px;
    visibility: hidden; /* Cambiado a hidden inicialmente */
    transition: visibility 0s ease-in-out; /* Añadida transición para opacity */
}

.advertencia.mostrar {
    visibility: visible; /* Cambiado a visible cuando se añade la clase mostrar */
  }
.iconAdvert{
    width: 250px;
}
.advertencia h3{
    color: #34495E;
    margin-top: 60px;
    margin-left: 50px;
    font-weight: bold;
}
.consejo{
    position: absolute;
    width: 30%;
    left: 550px;
    top:270px;
}
.consejo h5{
    text-align: center;
    color: #34495E;
    margin-top: 45px;
    margin-left: 50px;
}

.aviso{
    text-align: center;
    box-shadow: #E4E7EB;
    color:#E4E7EB;
    margin-top: 30px;
    font-size: 20px;
}

/* Media Query for smaller screens */
@media screen and (max-width: 900px) {
    .nutrientes, .posicion-carbo, .posicion-grasa, .posicion-prote,
    .macro-1, .macro-2, .macro-3, .rankingBottom,
    .line1, .grasasCounter, .line2, .proteCounter,
    .line3, .carboCounter, .kcalMant, .kcalManteniblesCounter {
        left: 10px;
    }
}
