.VerticalLine{
    display: flex;
    height: 70px;    
    width: 2px;
    margin-top: 1%;
    /* background-color: black; */
}
.RegisterFood-container{
    color: #34495e;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-self: center;
}
.RegisterFood-categories{
    display: flex;
    margin-top: 30px;
    margin-left: 780px;
    width: 40%;
    height: 140px;
    border-radius: 20px;
    flex-wrap: wrap;
    background-color:#E4E7EB;
    box-shadow: 5px 5px 5px grey;
}
.RegisterFood-categories-header{
    margin: auto;
}
.RegisterFood-categories-header h1{
    font-size: 35px;
    font-style: bold;
}
.RegisterFood-categories-body{
    align-items: center;
}
.RegisterFood-foodtable{
    position:absolute;
    width: 50%;
    flex-wrap: wrap;
}
.RegisterFood-foodtable-header{
    display: flex;
    width: 90%;
    align-self: center;
    margin: auto;
}
table{
    width: 100%; /* hace que la tabla se ajuste al ancho del div */
    height: auto; /* permite que la tabla crezca hasta un cierto punto */
    }
table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: center;
}
thead th {
    position: static;
    border-radius: 10px;
    top: 0;
    left: 0;
    background-color: #E4E7EB;
    color:#34495e;
}

tbody tr:nth-child(even){
    background-color: #ffff;
    transition: .5s;
}

tbody tr:hover {
    background-color: #bae6dd;
    border-radius: 20px;
}

.RegisterFood-foodlist{
    display: flex;
    margin-top: 30px;
    margin-bottom: 6px;
    margin-left: 780px;
    width: 40%;
    height: 300px;
    border-radius: 20px;
    flex-wrap: wrap;
    background-color:#E4E7EB;
    overflow: auto;
    box-shadow: 5px 5px 5px grey;
}

.RegisterFood-send-submit{
    background-color: #34495e;
    border-radius: 10 px;
    border: 2px white;
    color:  white; 
    

}
.RegisterFood-send-submit:hover{
    color: #34495e;
    background-color: #e4e7eb
}
.RegisterFood-send-porciones{
}