/* CONTENEDOR DE CATEGORÍAS*/
.RegisterFood-container{
    color: #34495e;
    flex-wrap: wrap;
    margin: auto;
}
.RegisterFood-categories{
    margin-top: 30px;
    margin-left: 790px;
    width: 40%;
    height: 140px;
    border-radius: 50px;
    flex-wrap: wrap;
    background-color:#E4E7EB;
    box-shadow: 5px 5px 5px grey;
    padding: 5px;
}

.RegisterFood-categories a{
    margin: 20px;
}
img{
    padding: 5px;
}
.RegisterFood-categories-header{
    text-align: center;
}
.RegisterFood-categories-header h1{
    font-size: 30px;
    font-style: bold;
    font-family: 'Roboto', sans-serif;
}
.RegisterFood-categories-body{
    width: 100%;
    text-align: center;
}

.RegisterFood-categories-body button{
    border: #34495e;
}

/* ALIMENTOS SELECCIONADOS */

.RegisterFood-foodtable{
    left: 50px;
    top: 95px;
    position:absolute;
    width: 50%;
    border-bottom-left-radius: 20px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px grey;
    height: 400px;
    overflow: auto;
}
.RegisterFood-foodtable-header{
    display: flex;
    width: 100%;
    background-color: #E4E7EB;
    color: #34495e;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 15px;
    justify-content: center;
    }

    /* LISTA DE ALIMENTOS */    

.myFoodTable{
    width: 100%;
    border: none;
    overflow: auto;
}
.myFoodTable th{
    background-color: #E4E7EB;
    padding: 10px;
    color: #34495e;
    font-size: 15px;
}

.RegisterFood-foodlist{
    display: flex;
    margin-top: 30px;
    margin-left: 790px;
    width: 40%;
    height: 300px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    overflow: auto;
    box-shadow: 5px 5px 5px grey;
    cursor: pointer;
}
.RegisterFood-foodlist table{
    width: 100%;
}
.RegisterFood-foodlist th{
    width: 550px;
    background-color: #E4E7EB;
    padding: 10px;
    color: #34495e;
}
::-webkit-scrollbar {
    width: 10px;
    height: auto;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #34495E; /* Color del pulgar (la parte que puedes arrastrar) */
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #F0F0F0; /* Color de la pista (la parte que no puedes arrastrar) */
    border-radius: 6px;
  }
  .FormRegister{
    margin-left: 150px;
    margin-bottom: 70px;
    margin-left: 50px;
  }
  .FormRegister button{
    display: relative;
    top: 70px;
    right: 300px;
    margin-left: -150px;

  }

@media only screen and (max-width: 1200px) {
    
    .RegisterFood-container{
        padding: 20px;
    }
    
    .RegisterFood-categories {
      margin: auto;
      width: 100%;
      height: auto;
      padding: 20px;
    }
    .RegisterFood-foodtable{
        top: 60px;
        left: 0;
        right: 0;
        margin: auto;
        position: relative;
        width: 100%;
    }
    .myFoodTable{
        width: 100%;
        border: none;
        overflow: auto;
    }
    
    .RegisterFood-foodlist {
        margin: auto;
        margin-top: 50px;
        width: 100%;
    }
    .FormRegister{
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 70px;
      }
    .FormRegister input, label{
        text-align: center;
        margin-top: 40px;
    }
      .FormRegister button{
        top: 130px;
        right: 135px;
      }
    
  }
  