
.VerticalLine{
    display: flex;
    height: 70px;    
    width: 2px;
    margin-top: 1%;
    /* background-color: black; */
}

/* CONTENEDOR DE CATEGORÍAS*/
.RegisterFood-container{
    color: #34495e;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-self: center;
}
.RegisterFood-categories{
    margin-top: 30px;
    margin-left: 780px;
    width: 40%;
    height: 140px;
    border-radius: 50px;
    flex-wrap: wrap;
    background-color:#E4E7EB;
    box-shadow: 5px 5px 5px grey;
    padding: 5px;
}

.RegisterFood-categories a{
    margin: 20px;
}
img{
    padding: 5px;
    
}
.RegisterFood-categories-header{
    text-align: center;
}
.RegisterFood-categories-header h1{
    font-size: 30px;
    font-style: bold;
    font-family: 'Roboto', sans-serif;
}
.RegisterFood-categories-body{
    width: 100%;
    text-align: center;
}

.RegisterFood-categories-body button{
    border: #34495e;
}

/* CONTENEDOR DE LA LISTA DE ALIMENTOS */

.RegisterFood-foodtable{
    left: 50px;
    top: 95px;
    position:absolute;
    width: 50%;
    flex-wrap: wrap;
    border-bottom-left-radius: 20px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px grey;
    height: 400px;
    overflow: auto;
    
}
.RegisterFood-foodtable-header{
    display: flex;
    width: 100%;
    background-color: #E4E7EB;
    color: #34495e;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 15px;
    justify-content: center;
    }


/* ALIMENTOS SELECCIONADOS */

.myFoodTable{
    width: 100%;
    border: none;
    overflow: auto;
}
.myFoodTable th{
    background-color: #E4E7EB;
    padding: 10px;
    color: #34495e;
    font-size: 15px;
}

.RegisterFood-foodlist{
    display: flex;
    margin-top: 30px;
    margin-bottom: 6px;
    margin-left: 780px;
    width: 40%;
    height: 300px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    flex-wrap: wrap;
    overflow: auto;
    box-shadow: 5px 5px 5px grey;
    cursor: pointer;
}
.RegisterFood-foodlist th{
    background-color: #E4E7EB;
    padding: 10px;
    color: #34495e;
    
}
::-webkit-scrollbar {
    width: 10px;
    height: auto;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #34495E; /* Color del pulgar (la parte que puedes arrastrar) */
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #F0F0F0; /* Color de la pista (la parte que no puedes arrastrar) */
    border-radius: 6px;
  }

.RegisterFood-send-submit{
    background-color: #34495e;
    border-radius: 10 px;
    border: 2px white;
    color:  white; 
}
.RegisterFood-send-submit:hover{
    color: #34495e;
    background-color: #e4e7eb
}
@media only screen and (max-width: 900px) {
    .RegisterFood-container{
        margin: 20px;
    }
    
    .RegisterFood-categories {
      margin: auto;
      width: 100%;
      margin-top: 400px;
      height: auto;
      padding: 20px;
    }
  
    .RegisterFood-foodtable,
    .RegisterFood-foodlist {
        margin-bottom: 30px;
        left: 0px;
        margin-left: 0;
        width: 100%;
        padding: 15px;
    }
  }
  