.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .table {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  
  .center-table {
    margin: 0 auto;
  }
  
  .button-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .pdf-button {
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .pdf-button:hover {
    background-color:  #bae6dd;
  }
  